<div th:fragment="modalReprogramarCita" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="modalReprogramar"
         tabindex="-1"
         aria-labelledby="modalReprogramarLabel"
         aria-hidden="true"
         data-bs-backdrop="static"
         data-bs-keyboard="false">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalReprogramarLabel">Reprogramar Cita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Paciente</label>
                        <input type="text" class="form-control" id="nombrePacienteReprogramar" disabled>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Seleccione el Motivo</label><span style="color:red;">*</span>
                        <select class="form-select" name="idMotivo" id="idMotivoReprogramacion">
                            <th:block th:each="motivo : ${Lista_MotivoReprogramacion_Activos}">
                                <option th:value="${motivo.id}" th:text="${motivo.nombre}"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Descripción</label><span style="color:red;">*</span>
                        <textarea class="form-control" placeholder="Describe el motivo de la reprogramación..."
                                  required></textarea></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="guardarReprogramacion()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
