<div th:fragment="modalReprogramarCita" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="modalReprogramar" tabindex="-1" aria-labelledby="modalReprogramarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalReprogramarLabel">Reprogramar Cita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="modalFechaCita" class="form-label">Fecha de la Cita</label>
                        <input type="date" class="form-control" id="modalFechaCita">
                    </div>
                    <div class="mb-3">
                        <label for="modalHoraCita" class="form-label">Hora Programada</label>
                        <input type="time" class="form-control" id="modalHoraCita">
                    </div>
                    <div class="mb-3">
                        <label for="modalMedicoCita" class="form-label">Médico Consulta</label>
                        <select id="modalMedicoCita" name="medico" class="form-select"
                                required>
                            <th:block th:each="medico : ${Lista_Medicos_Activos}">
                                <option th:value="${medico.idPersona}"
                                        th:text="${medico.apellidoP + ' ' + medico.apellidoM + ' ' + medico.nombre}"></option>
                            </th:block>
                        </select>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="guardarReprogramacion()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
