.section-header {
  background-color: #e0e7ff;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.table-wrapper {
  max-height: 50vh;
  overflow-y: auto;
}

.actions button {
  margin: 0.25rem;
}

#modalCie .modal-content {
    background-color: #e8f1fa; /* azul claro suave */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


/* Aumentamos ligeramente el z-index por si hay traslapes */
#modalCie {
    z-index: 1056;
}

/* Opcional: más suavidad en la transición de aparición */
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
}

.is-filled {
    border: 1.5px solid #0d6efd4d; /* Azul Bootstrap con opacidad */
    background-color: #e9f2ff;      /* Azul clarito de fondo */
    transition: all 0.2s ease-in-out;
}

#horaProgramada {
    cursor: pointer;
}

.readonly-select {
  pointer-events: none;    /* No permite hacer click ni desplegar */
  background-color: #e9ecef; /* Fondo gris claro, como disabled */
  color: #6c757d;          /* Texto gris para que parezca deshabilitado */
  user-select: none;       /* No permite seleccionar texto */
}

tr.fila-ficha td {
    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none;
}

tr.fila-ficha.seleccionada td {
    background-color: #d0ebff !important;
    user-select: none;
}

.form-disabled textarea,
.form-disabled input,
.form-disabled select {
    background-color: #e9ecef !important;
    color: #6c757d !important;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}


#contenedorPacienteModalCita .bloqueable {
    background-color: #e9ecef !important;
    pointer-events: none;
}