<div th:fragment="modalCita" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="modalAgendarCita" tabindex="-1" aria-labelledby="modalAgendarCitaLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgendarCitaLabel">Agendar Cita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"  tabindex="-1"></button>
                </div>
                <div class="modal-body">


                    <form id="formCrearCita">
                        <!-- Tab Content -->
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label">Fecha</label><span style="color:red;">*</span>
                                <input type="date" class="form-control"
                                       th:value="${fechaInputActual}"
                                       autocomplete="off">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Hora Programada</label><span style="color:red;">*</span>
                                <input type="time" id="horaProgramadaCita" class="form-control" value="07:00"
                                       autocomplete="off">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Médico Consulta</label><span style="color:red;">*</span>
                                <select class="form-select" name="idMedico" id="idMedicoCita">
                                    <th:block th:each="medico : ${Lista_Medicos_Activos}">
                                        <option th:value="${medico.id}"
                                                th:text="${medico.apellidoP + ' ' + medico.apellidoM + ' ' + medico.nombre}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <hr>


                        <div id="contenedorPacienteModalCita">
                            <div class="row g-3">
                                <!-- Número de presupuesto -->
                                <div class="col-md-6">
                                    <label class="form-label">N° Presupuesto</label><span style="color:red;">*</span>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="numeroPresupuestoCita" autocomplete="off" required>
                                        <button type="button" class="btn btn-outline-secondary" id="btnBuscarPorPresupuesto">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Tipo Documento</label>
                                    <input type="text" id="tipoDocumentoCita" class="form-control bloqueable" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">N° Documento</label>
                                    <input type="text" id="documentoCita" class="form-control bloqueable" readonly>
                                </div>
                                <hr>

                                <!-- Apellidos y nombres -->
                                <div class="col-md-3">
                                    <label class="form-label">Apellido Paterno</label>
                                    <input type="text" id="apellidoPaternoCita" class="form-control bloqueable" readonly>
                                    <input id="idPaciente" type="hidden">

                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Apellido Materno</label>
                                    <input type="text" id="apellidoMaternoCita" class="form-control bloqueable" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Nombres</label>
                                    <input type="text" id="nombresCita" class="form-control bloqueable" readonly>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Fecha Nac.</label>
                                    <input type="text" class="form-control bloqueable" id="fechaNacimientoCita" readonly>
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">Edad</label>
                                    <input type="text" class="form-control bloqueable" id="edadCita" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Sexo</label>
                                    <input type="text" class="form-control bloqueable" id="sexoCita" readonly>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Celular</label>
                                    <input type="text" class="form-control bloqueable" id="celularCita" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Teléfono</label>
                                    <input type="text" class="form-control bloqueable" id="telefonoCita" readonly>
                                </div>
                                <hr>

                                <!-- Tipo paciente -->
                                <div class="col-md-2">
                                    <label class="form-label">Tipo Paciente</label>
                                    <input type="text" class="form-control bloqueable" id="tipoPacienteCita" readonly>
                                </div>

                                <!-- Aseguradora -->
                                <div class="col-md-4">
                                    <label class="form-label">Aseguradora</label>
                                    <input type="text" class="form-control bloqueable" id="aseguradoraCita" readonly>
                                </div>

                                <!-- Contratante -->
                                <div class="col-md-6">
                                    <label class="form-label">Contratante</label>
                                    <input type="text" class="form-control bloqueable" id="contratanteCita" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="btnGuardarCita" class="btn btn-primary" disabled>Agendar</button>
                </div>
            </div>
        </div>
    </div>
</div>
