<div th:fragment="modalFinalizarProtocolo" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="modalFinalizarProtocolo" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white py-2">
                    <h5 class="modal-title">Finalización de Protocolo</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <label for="horaFin">Hora Fin:</label>
                    <input type="time" id="horaFin" class="form-control" required />
                </div>
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-primary btn-confirmar-fin">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
