<div th:fragment="modalAsignarAtencion" xmlns:th="http://www.thymeleaf.org">

    <div class="modal fade" id="modalAsignar" tabindex="-1" aria-labelledby="modalAsignarLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Asignar Atención Quimioterapia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="formAsignarAtencion" class="vstack gap-3">
                        <!-- Enfermera -->
                        <div>
                            <label for="modalEnfermera" class="form-label">Enfermera</label><span style="color:red;">*</span>
                            <select id="modalEnfermera" name="enfermera" class="form-select" required>
                                <option value="">Seleccione:</option>
                                <th:block th:each="enfermera : ${Lista_Enfermeras_Activos}">
                                    <option th:value="${enfermera.id}"
                                            th:text="${enfermera.apellidoP + ' ' + enfermera.apellidoM + ' ' + enfermera.nombre}"></option>
                                </th:block>
                            </select>
                        </div>

                        <!-- Médico -->
                        <div>
                            <label for="modalMedico" class="form-label">Médico</label><span style="color:red;">*</span>
                            <select id="modalMedico" name="medico" class="form-select" required>
                                <option value="">Seleccione:</option>
                                <th:block th:each="medico : ${Lista_Medicos_Activos}">
                                    <option th:value="${medico.id}"
                                            th:text="${medico.apellidoP + ' ' + medico.apellidoM + ' ' + medico.nombre}"></option>
                                </th:block>
                            </select>
                        </div>

                        <!-- Cubículo -->
                        <div>
                            <label for="modalCubiculo" class="form-label">Cubículo</label><span style="color:red;">*</span>
                            <select id="modalCubiculo" name="cubiculo" class="form-select" required>
                                <option value="">Seleccione:</option>
                                <th:block th:each="cubiculo : ${Lista_Cubiculo_Activos}">
                                    <option th:value="${cubiculo.id}" th:text="${cubiculo.codigo}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div>
                            <label class="form-label">Tiempo Protocolo</label><span style="color:red;">*</span>
                            <div class="input-group">
                                <select class="form-select" id="modalHorasProtocolo" required>
                                    <option value="0">0 h</option>
                                    <option value="1">1 h</option>
                                    <option value="2">2 h</option>
                                    <option value="3">3 h</option>
                                    <option value="4">4 h</option>
                                    <option value="5">5 h</option>
                                    <option value="6">6 h</option>
                                    <option value="7">7 h</option>
                                    <option value="8">8 h</option>
                                    <option value="9">9 h</option>
                                    <option value="10">10 h</option>
                                </select>
                                <select class="form-select" id="modalMinutosProtocolo" required>
                                    <option value="0">0 min</option>
                                    <option value="15">15 min</option>
                                    <option value="30">30 min</option>
                                    <option value="45">45 min</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success" onclick="guardarAsignacion()">Guardar</button>
                </div>
            </div>
        </div>
    </div>





</div>
