<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{common/imports :: headImports}">
</head>

<body class="bg-light">
<div th:replace="~{common/header :: header}">
</div>
<main class="container py-4">
    <h2 class="text-center mb-4">
        Quimioterapia
        <small class="text-muted">
            (<span th:text="${fechaActual}"></span> <span id="horaActual" th:text="${horaActual}"></span>)
        </small>
    </h2>


    <div class="section-header row g-3 align-items-center">
        <div class="col-md-3">
            <label class="form-label">Establecimiento</label>
            <select class="form-select">
                <option>ONCOLOGIA</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Servicio</label>
            <select class="form-select">
                <option>QUIMIOTERAPIA</option>
            </select>
        </div>
        <div class="col-md-3">

        </div>


        <div class="col-md-3">
            <label class="form-label">Agendar Cita</label>
            <div class="input-group">
                <input type="text" id="fechaPickerPrincipal" class="form-control">
                <button type="button" class="btn btn-primary" id="btnAgregarFecha" data-bs-toggle="modal"
                        data-bs-target="#modalAgendarCita">
                    <i class="bi bi-plus-lg"></i> Agregar
                </button>
            </div>
        </div>

    </div>

    <div class="mb-3 d-flex flex-wrap gap-2 actions">
        <button id="btn-atendido" class="btn btn-success btn-finalizar"><i class="bi bi-check2-circle"></i> Atendido</button>
        <button id="btn-iniciar" class="btn btn-secondary btn-iniciar"><i class="bi bi-check-circle"></i> Iniciar</button>
        <button id="btn-pendiente" class="btn btn-warning btn-pendiente"><i class="bi bi-hourglass-split"></i> Pendiente</button>




        <button id="btn-transferir" class="btn btn-info">
            <i class="bi bi-arrow-left-right"></i> Transferir
        </button>

        <button id="btn-modificar" class="btn btn-primary">
            <i class="bi bi-pencil-square"></i> Modificar
        </button>

        <button id="btn-eliminar" class="btn btn-danger">
            <i class="bi bi-trash"></i> Eliminar
        </button>

        <button id="btn-duplicar" class="btn btn-outline-secondary">
            <i class="bi bi-copy"></i> Duplicar Sesión
        </button>
    </div>


    <div class="row g-3 mb-3">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Paciente">
        </div>
        <div class="col-md-2">
            <select class="form-select" name="estado">
                <option value="">Estado: TODO</option>
                <option th:each="estado : ${estadosCita}"
                        th:value="${estado}"
                        th:text="${estado}"></option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-select" name="cubiculo">
                <option value="">Cubículo: TODO</option>
                <option th:each="c : ${Lista_Cubiculo_Activos}"
                        th:value="${c.id}"
                        th:text="${c.codigo}">
                </option>
            </select>
        </div>

        <div class="col-md-2">
            <input type="text" id="filtroFecha" class="form-control" placeholder="Seleccionar fecha(s)">
        </div>




        <div class="col-md-1 d-flex gap-1">
            <button class="btn btn-dark w-100"><i class="bi bi-file-earmark-text"></i></button>
            <button class="btn btn-outline-dark w-100"><i class="bi bi-download"></i></button>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="table table-bordered table-sm">
            <thead class="table-primary">
            <tr>
                <th>Num. Documento</th>
                <th>Paciente</th>
                <th>Fec. Ingreso</th>
                <th>Cama</th>
                <th>Hora Prog.</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Duración Protocolo</th>
                <th>Estado</th>
                <th>TipoPaciente</th>
            </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>


    <div th:replace="~{fragments/modal-cita :: modalCita}"></div>
    <div th:replace="~{fragments/modal-busqueda-cie :: modalBusquedaCie}"></div>
    <div th:replace="~{fragments/modal-iniciar :: modalIniciarProtocolo}"></div>
    <div th:replace="~{fragments/modal-atender :: modalFinalizarProtocolo}"></div>

    <div th:replace="~{fragments/modal-ficha-paciente :: modalFichaPaciente}"></div>



</main>
<th:block th:replace="~{common/imports :: bodyImports}"/>

<div th:insert="~{common/footer :: footer}">
</div>
<script src="/js/index.js"></script>
<script src="/js/fragments/cita/busqueda-paciente-doc.js"></script>
<script src="/js/fragments/cita/modal-guardar.js"></script>
<script src="/js/fragments/cita/modal.js"></script>

<script src="/js/fragments/botones/pendiente.js"></script>
<script src="/js/fragments/botones/modal-iniciar.js"></script>
<script src="/js/fragments/botones/modal-finalizar.js"></script>
<script src="/js/fragments/botones/seleccion-ficha.js"></script>
<!--
<script src="/js/fragments/botones/restricciones.js"></script>
-->

<script src="/js/fragments/ficha-paciente/tab-paciente/datos.js"></script>
<script src="/js/fragments/ficha-paciente/tab-paciente/botones.js"></script>

<script src="/js/fragments/ficha-paciente/tab-atencion-quimioterapia/datos.js"></script>
<script src="/js/fragments/ficha-paciente/tab-atencion-quimioterapia/botones.js"></script>


<script src="/js/fragments/ficha-paciente/modal.js"></script>


<script src="/js/fragments/modal-busqueda-cie.js"></script>
<script src="/js/index-datostabla-filtrofecha.js"></script>


</body>

</html>